<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Model.Properties.Settings.clinic10ConnectionString"
            connectionString="Server=.; Database=clinic10; Trusted_Connection=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>