<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="SECURITY_USERS_GUI.Properties.Settings.clinic10ConnectionString"
            connectionString="Data Source=SM-SERV01\SQL10_5_SIMPLEX;Initial Catalog=clinic10;User ID=sa;Password=Q12werty"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>